daiquiri-centos/
vol/
*.local
docker-compose.yaml
notes.md
settings/sample.local.tmp.py

# files that are written by the makefile
daiquiri/rootfs/etc/httpd/conf/httpd.conf
daiquiri/rootfs/etc/httpd/vhosts.d/vhost.conf
daiquiri/rootfs/tmp/wp-config-sample.php
nginx_rp/conf/server.conf
